  <%- partial('_partial/header') %>
  <div class="container">
    <div class="row">
      <div class="col-md-13"><%- partial('_partial/archive', {pagination: config.archive}) %></div>
    </div>
  </div>
  <div id="push"></div>
  <%- partial('_partial/footer') %>
  <%- partial('_partial/after_footer') %>