<div class="container-fluid">
	<div class="row">
		<div class="col-sm-11 col-md-11">
			<% page.posts.each(function(item){ %>
			  <%- partial('_partial/article', {item: item, index: true}) %>
			<% }); %>
			<%- partial('_partial/pagination') %>
		</div>
	</div>
</div>