  <%- partial('_partial/header') %>
  <div class="container">
    <div class="row">
      <div><%- partial('_partial/article', {item: page, index: false}) %></div>
    </div>
  </div>
  <div id="push"></div>
  <%- partial('_partial/footer') %>
  <%- partial('_partial/after_footer') %>